/* Intermediate formate presentation styles go here */

.ble {
    display: block;
    /*background: #E9E8E9;*/
}

span.aligned {
    display: block;
}

span.label {
    font-size: 100%;
    color: #000000;
}

span.rdgMarker {
    font-weight: bold;
    font-size: 16px;
}

span.rdgMarker .om.open::before, span.rdgMarker .om.closeing::after {
    content: "om";
    background: #FA81FE;
    vertical-align: super;
    font-size: 70%;
    padding-left: 2px;
    padding-right: 2px;
}

/****************************************/
/*      Textcritical elements           */
/****************************************/
.app {
    display: block;
    padding: 8px;
}

.reading .reading-term {
    font-family: consolas;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 0 2px 0;
}

.reading .error-status {
    padding: 0px 4px 0px 4px;
}


.reading-content {
    border: 1px solid #E9E8E9;
    display: block;
    padding: 8px;
}

.v .reading-content, .pp .reading-content, .pt .reading-content{
    color: #BFBEBE;
}