/* Intermediate formate presentation styles go here */

.ble {
    display: block;
    /*background: #E9E8E9;*/
}

span.aligned {
    display: block;
}

span.label {
    font-size: 100%;
    color: #000000;
}

span.rdgMarker {
    font-weight: bold;
    font-size: 16px;
}

span.rdgMarker .om.open::before, span.rdgMarker .om.closeing::after {
    content: "om";
    background: #FA81FE;
    vertical-align: super;
    font-size: 70%;
    padding-left: 2px;
    padding-right: 2px;
}

/****************************************/
/*      Textcritical elements           */
/****************************************/
.app::before {
    content: "tei:app";
    display: block;
    font-family: consolas;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0 2px 0;
}

.app {
    display: block;
    padding: 8px;
}

.lem::before, .rdg::before {
    display: block;
    font-family: consolas;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0 2px 0;
}

.lem::before {
    content: "tei:lem";
}

.rdg::before {
    content: "tei:rdg";
}

.lem, .rdg {
    border: 1px solid #E9E8E9;
    display: block;
    padding: 8px;
}